{% extends 'admins/index.html' %}
  {% load static %}
  {% block title %}
  <title>Ecommerce | Category Page</title>
  {% endblock %}
  
  {% block admin_content %}
  <div class="form-section">
    {% for msgs in messages %}
    <div class="msgs flex justify-center my-3">
    {% if msgs.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
    <span class="bg-green-500 py-2 px-3 text-white">
        {{msgs}}
    </span>
    {% endif %}
    </div>
    {% endfor %}
    <h1 class="text-3xl text-blue-400 text-center font-bold my-4">Add Product</h1>
  </div>

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Category name
                </th>
                <th scope="col" class="px-6 py-3">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            {% for c in category %}
            <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                   {{c.category_name}}
                </th>
                <td class="px-6 py-4">
                    <a href="{% url 'updatecategory' c.id %}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                    <a href="{% url 'deletecategory' c.id %}" class="font-medium text-blue-600 dark:text-red-500 hover:underline px-3">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

  {% endblock %}