<style>
  .card-img{
    overflow: hidden;
  }
  .card-img img{
    transition: all 2s;
  }
  .card-img:hover img{
    transform: scale(1.5);
  }
</style>
{% extends 'index.html' %} 
{% load static %}
 {% block title %}
<title>Ecommerce | Home Page</title>
{% endblock %} 
{% block main_content %} 
{% include 'product/carousel.html' %}
<!-- content section -->
<h1 class="text-3xl text-center text-blue-800 my-5 font-bold">Our Latest Products</h1>
<div class="flex justify-evenly gap-5 flex-wrap my-10">
  {% for p in product %}

  <div
    class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 mt-6 "
  >
    <a href="#">
      <div class="w-64 h-28 card-img">
        <img
          class="rounded-t-lg w-full h-full"
          src="/{{p.image}}"
          alt="{{p.product_name}}"
        />
      </div>
    </a>
    <div class="p-5 w-64">
      <a href="#">
        <h5
          class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
        >
          {{p.product_name}}
        </h5>
      </a>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
        {{p.product_price}}
      </p>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
        {{p.description}}
      </p>
      <a
        href="#"
        class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      >
        View Detail
        <svg
          class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 14 10"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 5h12m0 0L9 1m4 4L9 9"
          />
        </svg>
      </a>
    </div>
  </div>
  {% endfor%}
</div>

<!--  static files access -->
<!-- to access img folder in static folder -->
<!-- <img src="{% static 'img/a.jpeg' %}" alt="model" width="200px" /> -->

{% endblock %}
